<div class="span4">
  <%= image_tag @scene.screenshot.url %>
</div>
<div class="span8">
  <p>
    script_id: <%= @scene.script_id %><br>
    sequence_position: <%= @scene.sequence_position %><br>
    storyboard: <%= @scene.storyboard %><br>
    english_subtitle: <%= @scene.english_subtitle %><br>
    foreign_subtitle_1: <%= @scene.foreign_subtitle_1 %><br>
    foreign_subtitle_2: <%= @scene.foreign_subtitle_2 %><br>
  </p>
</div>

<%= render partial: 'audio_player' %>

<div class="span12">
  <%= link_to 'previous',
              previous_wizard_path %>
  |
  <%= link_to 'next',
              next_wizard_path %>
</div>

<%= render partial: 'comments_stream' %>