<%= content_for :order_title do %>
  <h3>Storyboard and script</h3>
<% end %>

<%= content_for :order_steps do %>
  <div class="span4">
    <h3>Scene <%= wizard_path.split("_").last %></h3>
    <br>
    <p><%= @scene.storyboard %></p>
  </div>
  <div class="span4">
    <%= image_tag "storyboard/storyboard-#{wizard_path.split('_').last}.png" %>
  </div>
  <div class="span4">
    <%= image_tag "storyboard/storyboard-#{wizard_path.split('_').last.to_i + 1}.png" %>
  </div>

<% end %>

<div class="span12">
  <ul>
    <li>Voice Over: &nbsp;
      <select name="voice_over_language" class="select2-fixed-width" id="voice-over-select">
        <option value="english" selected="selected">English</option>
        <option value="cantonese">Cantonese</option>
        <option value="mandarin">Mandarin</option>
      </select>
      &nbsp;&nbsp;&nbsp;&nbsp; <%= @scene.english_subtitle %>&nbsp;&nbsp;<%= render partial: 'audio_player' %>
    </li>
    <hr>
    <li>Subtitle 1: &nbsp;&nbsp;&nbsp;
      <select name="voice_over_language" class="select2-fixed-width" id="subtitle-1-select">
        <option value="english">English</option>
        <option value="cantonese" selected="selected">Cantonese</option>
        <option value="mandarin">Mandarin</option>
      </select>
      &nbsp;&nbsp;&nbsp;&nbsp; <%= @scene.foreign_subtitle_1 %>
    </li>
    <hr>
    <li>Subtitle 2: &nbsp;&nbsp;&nbsp;
      <select name="voice_over_language" class="select2-fixed-width" id="subtitle-2-select">
        <option value="english">English</option>
        <option value="cantonese">Cantonese</option>
        <option value="mandarin" selected="selected">Mandarin</option>
      </select>
      &nbsp;&nbsp;&nbsp;&nbsp; <%= @scene.foreign_subtitle_2 %>
    </li>
  </ul>
</div>

<div class="span12">
  <%= link_to 'previous',
              previous_wizard_path %>
  |
  <%= link_to 'next',
              next_wizard_path %>

</div>



<%= content_for :comments do %>
  <%= render partial: 'comments_stream' %>
<% end %>
