<div class="span12">
  <%= simple_nested_form_for @order, url: wizard_path do |f| %>
    <%= f.simple_fields_for :closed_exit_doors do |builder| %>
      <%= f.input :asset,
                  label: 'Closed exit door asset',
                  as: :file %>
    <% end %>
    <p><%= f.link_to_add "Add a closed exit door", :closed_exit_doors %></p>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
