<div class="span12">
  <%= simple_nested_form_for @order, url: wizard_path do |f| %>
    <h3>Aeroplane seats</h3>
    <br>
    <%= f.simple_fields_for :seats do |builder| %>
      <%= render 'seat_fields',
                 f: builder %>
    <% end %>
    <p><%= f.link_to_add "<i class='icon-plus-sign icon-white'></i>&nbsp;Add a seat".html_safe, :seats %></p>

    <br>
    <%= f.button :submit, class: 'btn btn-green' %>
  <% end %>
</div>

<%= content_for :comments do %>
  <%= render partial: 'comments_stream' %>
<% end %>

<%= content_for :helper do %>
  <div class="step-counter">
    <p style="left: <%= ((300/3) + (800/8) + (200/3) + (0/40))/4 %>%"><strong>Step 1:</strong> First class seats</p>
  </div>
<% end %>

<%= content_for :progress do %>
  <div class="progress-indicator">
    <div class="progress-indicator-background progress-indicator-background-25">
      <div class="progress-indicator-inner progress-indicator-inner-25" style="width: 100%;"></div>
    </div>
    <div class="progress-indicator-background progress-indicator-background-50">
      <div class="progress-indicator-inner progress-indicator-inner-50" style="width: 100%;"></div>
    </div>
    <div class="progress-indicator-background progress-indicator-background-75">
      <div class="progress-indicator-inner progress-indicator-inner-75" style="width: <%= 300/3 %>%;"></div>
    </div>
    <div class="progress-indicator-background progress-indicator-background-100">
      <div class="progress-indicator-inner progress-indicator-inner-100" style="width: 0%;"></div>
    </div>
  </div>
<% end %>

