<div class="span12">
  <%= simple_nested_form_for @order, url: wizard_path do |f| %>
    <%= f.simple_fields_for :lavatories do |builder| %>
      <%= f.input :asset,
                  label: 'Lavatory asset',
                  as: :file %>
    <% end %>
    <p><%= f.link_to_add "Add a lavatory", :lavatories %></p>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>

<%= render partial: 'comments_stream' %>