<div class="span12">
  <%= simple_nested_form_for @order, url: wizard_path do |f| %>
    <h3>Life jackets</h3>
    <%= f.association :life_jackets,
                      collection: LifeJacket.order("name"),
                      label: '',
                      as: :check_boxes %>

    <br>
    <%= f.button :submit, class: 'btn btn-green' %>
  <% end %>
</div>

<%= content_for :comments do %>
  <%= render partial: 'comments_stream' %>
<% end %>
