<div class="span12">
  <h3>Airline livery</h3>
  <br>
  <%= minimal_nested_form_for @order, url: wizard_path do |f| %>
    <%= f.simple_fields_for :liveries do |builder| %>
      <div class="border">
        <%= image_tag builder.object.asset.url(:original) %>
        <%= builder.input :asset,
                          as: :file %>
        <%= builder.link_to_remove "<i class='icon-minus-sign icon-white'></i>&nbsp;Remove livery".html_safe %>
      </div>
      <br>
    <% end %>
    <p><%= f.link_to_add "<i class='icon-plus-sign icon-white'></i>&nbsp;Add livery".html_safe, :liveries %></p>

    <br>
    <%= f.button :submit, class: 'btn btn-green' %>
  <% end %>
</div>

<%= render partial: 'comments_stream' %>