<div class="span12">
  <h3>Aeroplane open exit door</h3>
  <br>
  <%= minimal_nested_form_for @order, url: wizard_path do |f| %>
    <%= f.simple_fields_for :open_exit_doors do |builder| %>
      <div class="border">
        <%= image_tag builder.object.asset.url(:original) %>
        <%= builder.input :asset,
                          as: :file %>
        <%= builder.link_to_remove "<i class='icon-minus-sign icon-white'></i>&nbsp;Remove open exit door".html_safe %>
      </div>
      <br>
    <% end %>
    <p><%= f.link_to_add "<i class='icon-plus-sign icon-white'></i>&nbsp;Add a open exit door".html_safe, :open_exit_doors %></p>

    <br>
    <%= f.button :submit, class: 'btn btn-green' %>
  <% end %>
</div>

<%= content_for :comments do %>
  <%= render partial: 'comments_stream' %>
<% end %>
