<% content_for :head do %>
  <script type="text/javascript">
    <%= render :partial => 'options.js' %>
  </script>
<% end %>

<%= content_for :order_title do %>
  <h3>Safety video builder</h3>
<% end %>

<%= content_for :order_steps_footer do %>
  <div class="span12">
    <h3>Aeroplane open exit door</h3>
    <br>
    <%= minimal_nested_form_for @order, url: wizard_path, html: { class: 'pjax' } do |f| %>
      <%= f.simple_fields_for :open_exit_doors do |builder| %>
        <div class="border">
          <%= image_tag builder.object.asset.url(:original) %>
          <%= builder.input :asset,
                            as: :file %>
          <%= builder.link_to_remove "<i class='icon-minus-sign icon-white'></i>&nbsp;Remove open exit door".html_safe %>
        </div>
        <br>
      <% end %>
      <p><%= f.link_to_add "<i class='icon-plus-sign icon-white'></i>&nbsp;Add a open exit door".html_safe, :open_exit_doors %></p>

      <br>
      <%= f.button :submit, class: 'btn btn-green' %>
    <% end %>
  </div>
<% end %>

<%= content_for :comments do %>
  <%= render partial: 'comments_stream' %>
<% end %>

<%= content_for :helper do %>
  <div class="step-counter">
    <p style="left: <%= ((300/3) + (500/8) + (0/3) + (0/40))/4 %>%"><strong>Step 9:</strong> Open exit doors</p>
  </div>
<% end %>

<%= content_for :progress do %>
  <div class="progress-indicator">
    <div class="progress-indicator-background progress-indicator-background-25">
      <div class="progress-indicator-inner progress-indicator-inner-25" style="width: 100%;"></div>
    </div>
    <div class="progress-indicator-background progress-indicator-background-50">
      <div class="progress-indicator-inner progress-indicator-inner-50" style="width: <%= 600/8 %>%;"></div>
    </div>
    <div class="progress-indicator-background progress-indicator-background-75">
      <div class="progress-indicator-inner progress-indicator-inner-75" style="width: 0%;"></div>
    </div>
    <div class="progress-indicator-background progress-indicator-background-100">
      <div class="progress-indicator-inner progress-indicator-inner-100" style="width: 0%;"></div>
    </div>
  </div>
<% end %>