<div class="span12">
  <%= simple_nested_form_for @order, url: wizard_path do |f| %>
    <h3>Safety cards</h3>
    <%= f.simple_fields_for :safety_card do |safety_card| %>
      <%= safety_card.input :name, label: 'Safety card name' %>
      <%= safety_card.input :front,
                            label: 'Safety card front',
                            as: :file %>
      <%= safety_card.input :back,
                            label: 'Safety card back',
                            as: :file %>
    <% end %>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
