<% @step = wizard_path.split("_").last %>

<%= render partial: 'scene_info',
           locals: {step: @step} %>

<%= content_for :helper do %>
  <div class="step-counter">
    <p style="left: <%= ((300/3) + (800/8) + (300/3) + (0/40))/4 %>%"><strong>Step 15:</strong> Scene <%= @step %></p>
  </div>
<% end %>

<%= content_for :progress do %>
  <div class="progress-indicator">
    <div class="progress-indicator-background progress-indicator-background-25">
      <div class="progress-indicator-inner progress-indicator-inner-25" style="width: 100%;"></div>
    </div>
    <div class="progress-indicator-background progress-indicator-background-50">
      <div class="progress-indicator-inner progress-indicator-inner-50" style="width: 100%;"></div>
    </div>
    <div class="progress-indicator-background progress-indicator-background-75">
      <div class="progress-indicator-inner progress-indicator-inner-75" style="width: 100%;"></div>
    </div>
    <div class="progress-indicator-background progress-indicator-background-100">
      <div class="progress-indicator-inner progress-indicator-inner-100" style="width: <%= (@step.to_i*100)/40 %>%;"></div>
    </div>
  </div>
<% end %>


