<% content_for :head do %>
  <script type="text/javascript">
    <%= render :partial => 'options.js' %>
  </script>
<% end %>

<%= content_for :order_title do %>
  <h2>Safety video builder</h2>
<% end %>

<%= content_for :order_steps_footer do %>
  <div class="span12">
    <%= minimal_nested_form_for @order, url: wizard_path, html: { class: 'pjax' } do |f| %>
      <h3>Please select your seat layout</h3>
      <br>

      <div class="controls controls-row">
        <%= f.input_field :seat_layout_id,
                          placeholder: 'Seat layout',
                          collection: SeatLayout.order('name'),
                          class: 'select2 span3' %>
      </div>

      <br>
      <%= f.submit "OK", class: 'btn btn-green' %>
    <% end %>
  </div>
<% end %>

<%= content_for :comments do %>
  <%= render partial: 'comments_stream' %>
<% end %>

<%= content_for :helper do %>
  <div class="step-counter">
    <p style="left: <%= ((300/3) + (0/8) + (0/3) + (0/40))/4 %>%"><strong>Step 4:</strong> Seat layouts</p>
  </div>
<% end %>

<%= content_for :progress do %>
  <div class="progress-indicator">
    <div class="progress-indicator-background progress-indicator-background-25">
      <div class="progress-indicator-inner progress-indicator-inner-25" style="width: 100%;"></div>
    </div>
    <div class="progress-indicator-background progress-indicator-background-50">
      <div class="progress-indicator-inner progress-indicator-inner-50" style="width: <%= 100/7 %>%;"></div>
    </div>
    <div class="progress-indicator-background progress-indicator-background-75">
      <div class="progress-indicator-inner progress-indicator-inner-75" style="width: 0%;"></div>
    </div>
    <div class="progress-indicator-background progress-indicator-background-100">
      <div class="progress-indicator-inner progress-indicator-inner-100" style="width: 0%;"></div>
    </div>
  </div>
<% end %>