<div class="span12">
  <%= minimal_nested_form_for @order, url: wizard_path do |f| %>
    <h3>Seat layouts</h3>
    <br>
    <div class="controls controls-row">
      <%= f.input_field :seat_layout_id,
                        placeholder: 'Seat layout',
                        collection: SeatLayout.order('name'),
                        class: 'select2 span3' %>
    </div>

    <br>
    <%= f.button :submit, class: 'btn btn-green' %>
  <% end %>
</div>

<%= content_for :comments do %>
  <%= render partial: 'comments_stream' %>
<% end %>
