<%= simple_nested_form_for @order do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <br>

    <h5>Please create your order using the form below.</h5>
    <br>
    <%= f.input :name %>
    <%= f.hidden_field :airline_id,
                       value: current_user.user_profile.airline.id if current_user.user_profile.present? %>

    <%= f.association :aeroplane,
                      label: 'Aeroplane',
                      as: :select,
                      collection: Aeroplane.order('name') %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
