<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <br>
    <p>Please create your order using the form below.</p>
    <%= f.input :name %>
    <%= f.hidden_field :airline_id,
                       value: current_user.user_profile.airline.id if current_user.user_profile.present? %>

    <h3>Aeroplane</h3>
    <%= f.association :aeroplane,
                      label: 'Aeroplane',
                      as: :select,
                      collection: Aeroplane.order('name') %>

    <h3>Seats</h3>
     <%= f.simple_fields_for :seats do |seat| %>
      <%= seat.input :name, label: 'Seat name' %>
      <%= seat.input :seat_manufacturer_id,
                     label: 'Seat manufacturer',
                     as: :select,
                     collection: SeatManufacturer.order('name') %>
      <%= seat.input :seat_class_id,
                     label: 'Seat class',
                     as: :select,
                     collection: SeatClass.order('name') %>
      <%= seat.simple_fields_for :seat_assets do |seat_asset| %>
        <% if seat_asset.object.new_record? %>
          <%= seat_asset.input :asset,
                               label: 'Seat asset',
                               as: :file %>
        <% else %>
          <% @order.seats.each do |seat| %>
            <% seat.seat_assets.each do |seat_assets| %>
              <%= image_tag seat_asset.asset.url(:original) if seat_asset.asset.present? %>
              <br>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%= seat.simple_fields_for :seat_belt do |seat_belt| %>
        <%= seat_belt.input :name,
                            label: 'Seat belt name' %>
        <% if seat_belt.object.new_record? %>
          <%= seat_belt.input :belt_image,
                              label: 'Seat belt image',
                              as: :file %>
        <% else %>
          <% @order.seats.each do |seat| %>
            <%= image_tag seat.seat_belt.belt_image.url(:original) if seat.seat_belt.present? %>
            <br>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <h3>Safety cards</h3>
    <%= f.simple_fields_for :safety_card do |safety_card| %>
      <%= safety_card.input :name, label: 'Safety card name' %>
      <%= safety_card.input :front,
                            label: 'Safety card front',
                            as: :file %>
      <%= safety_card.input :back,
                            label: 'Safety card back',
                            as: :file %>
    <% end %>

    <h3>Seat layouts</h3>
    <%= f.association :seat_layout,
                      label: 'Seat layout',
                      as: :select,
                      collection: SeatLayout.order('name') %>

    <h3>Life jackets</h3>
    <%= f.association :life_jackets,
                      collection: LifeJacket.order("name"),
                      label: 'Life jacket',
                      as: :check_boxes %>

    <h3>Other</h3>
    <%= f.input :console,
                label: 'Console',
                as: :file %>
    <%= f.input :bin,
                label: 'Bin',
                as: :file %>
    <%= f.input :lavatory,
                label: 'Lavatory',
                as: :file %>
    <%= f.input :open_exit_door,
                label: 'Open exit door',
                as: :file %>
    <%= f.input :closed_exit_door,
                label: 'Closed exit door',
                as: :file %>
    <%= f.input :carpet_texture,
                label: 'Carpet texture',
                as: :file %>
    <%= f.input :livery,
                label: 'Aeroplane livery',
                as: :file %>
    <%= f.input :branding,
                label: 'Aeroplane branding',
                as: :file %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
