<%= minimal_nested_form_for @order,
                            :html => {:class => 'form-vertical'} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="controls controls-row">
      <%= f.input_field :name,
                              placeholder: 'Order name',
                              class: 'span4' %>
    </div>

    <div class="controls controls-row">
      <%= f.hidden_field :airline_id,
                         value: current_user.user_profile.airline.id if current_user.user_profile.present? %>

      <%= f.input_field :aeroplane_id,
                        placeholder: 'Aeroplane',
                        collection: Aeroplane.order('name'),
                        class: 'select2 span4'%>
    </div>

  </div>

  <br>

  <%= f.button :submit, class: 'btn-green' %>
<% end %>
