<%= simple_form_for(@user_profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id,
                       value: current_user.id %>
    <%= f.simple_fields_for :airline do |airline| %>
      <%= airline.input :name, label: 'Airline name' %>
      <%= airline.input :code, label: 'Airline code' %>
    <% end %>
    <%= f.input :contact_name %>
    <%= f.input :address %>
    <%= f.input :phone %>
    <%= f.input :mobile %>
    <%= f.input :fax %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
