<h1>Listing life_jackets</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @life_jackets.each do |life_jacket| %>
  <tr>
    <td><%= life_jacket.name %></td>
    <td><%= link_to 'Show', life_jacket %></td>
    <td><%= link_to 'Edit', edit_life_jacket_path(life_jacket) %></td>
    <td><%= link_to 'Destroy', life_jacket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Life jacket', new_life_jacket_path %>
