<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @airline.name %>
</p>

<p>
  <b>Code:</b>
  <%= @airline.code %>
</p>

<% if @airline.logo.present? %>
  <b>Logo:</b>
  <br>
  <%= image_tag @airline.logo.url %>
  <br>
<% end %>
<br>

<%= link_to 'Edit', edit_airline_path(@airline) %> |
<%= link_to 'Back', airlines_path %>
