<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @airline.name %>
</p>

<p>
  <b>Code:</b>
  <%= @airline.code %>
</p>

<b>Logo:</b>
<br>
<%= image_tag @airline.logo.url %>
<br>
<b>Livery:</b>
<br>
<%= image_tag @airline.livery.url %>
<br>
<b>Branding:</b>
<br>
<%= image_tag @airline.branding.url %>
<br>
<br>

<%= link_to 'Edit', edit_airline_path(@airline) %> |
<%= link_to 'Back', airlines_path %>
