<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @safety_card.name %>
</p>
<p>
  <b>Order ID:</b>
  <%= @safety_card.order_id %>
</p>
<p>
  <b>Front:</b>
  <%= @safety_card.front %>
</p>
<p>
  <b>Back:</b>
  <%= @safety_card.back %>
</p>


<%= link_to 'Edit', edit_safety_card_path(@safety_card) %> |
<%= link_to 'Back', safety_cards_path %>
