<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Aim" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Aim" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<div class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </nav>
</div>
<div class="video">
  <video id="video-background-final-menu" preload="auto" muted="muted" volume="0">
    <source src="http://www.kukya.com/videos/final_menu.webm" type="video/webm">
    <source src="http://www.kukya.com/videos/final_menu.mp4'" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <video id="video-background-1" preload="auto" muted="muted" volume="0">
    <source src="http://www.kukya.com/videos/airbus_in_out.webm" type="video/webm">
    <source src="http://www.kukya.com/videos/airbus_in_out.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <video id="video-background-2" preload="auto" muted="muted" volume="0">
    <source src="http://www.kukya.com/videos/embraer_in_out.webm" type="video/webm">
    <source src="http://www.kukya.com/videos/embraer_in_out.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <video id="video-background-3" preload="auto" muted="muted" volume="0">
    <source src="<%= asset_path('boeing_menu_out.webm') %>" type="video/webm">
    <source src="<%= asset_path('boeing_menu_out.mp4') %>" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <!--<video id="video-background-seats" preload="auto" muted="muted" volume="0">-->
  <!--<source src="<%= asset_path('seats.webm') %>" type="video/webm">-->
  <!--<source src="<%= asset_path('seats.mp4') %>" type="video/mp4">-->
  <!--Your browser does not support the video tag.-->
  <!--</video>-->
  <!--<video id="video-background-boeing-top" preload="auto" muted="muted" volume="0">-->
  <!--<source src="<%= asset_path('boeing_top.webm') %>" type="video/webm">-->
  <!--<source src="<%= asset_path('boeing_top.mp4') %>" type="video/mp4">-->
  <!--Your browser does not support the video tag.-->
  <!--</video>-->
</div>
<div data-pjax-container-options id="pjax-container-options">
  <div id="order-steps">
    <div class="container">
      <div class="content">
        <div class="row">
          <%= yield :order_steps %>
          <div class="row wrap span6" id="wrap">
            <%= yield :comments %>
          </div>
        </div>
      </div>
    </div>
    <!--! end of .container -->
  </div>
  <!--! end of #order-steps -->
  <div class="navbar navbar-fixed-bottom" id="order-steps-footer-outer">
    <div id="order-steps-footer">
      <div class="container">
        <%= yield :order_steps_footer %>
      </div>
      <!--! end of .container -->
    </div>
    <!--! end of #order-steps-footer -->
  </div>
  <!--! end of #order-steps-footer-outer -->
</div>
<!--! end of #pjax-container -->

<%= yield :storyboard_steps %>

<div id="main" role="main">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <%= render 'layouts/messages' %>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>
  <!--! end of .container -->
</div>
<!--! end of #main -->

<div class="navbar navbar-fixed-bottom navbar-inverse" id="footer">
  <%= yield :helper %>
  <%= yield :progress %>
  <div class="navbar-inner">
    <div class="container">
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>
</body>
</html>
