<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Aim" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Aim" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<div class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </nav>
</div>
<div class="video">
  <video id="video-background-boeing-full" preload="auto" muted="muted" volume="0">
    <source src="<%= asset_path('boeing_full.webm') %>" type="video/webm">
    <source src="<%= asset_path('boeing_full.mp4') %>" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <!--<video id="video-background-1" preload="auto" muted="muted" volume="0">-->
  <!--<source src="<%= asset_path('airbus_in.webm') %>" type="video/webm">-->
  <!--<source src="<%= asset_path('airbus_in.mp4') %>" type="video/mp4">-->
  <!--Your browser does not support the video tag.-->
  <!--</video>-->
  <!--<video id="video-background-2" preload="auto" muted="muted" volume="0">-->
  <!--<source src="<%= asset_path('airbus_off.webm') %>" type="video/webm">-->
  <!--<source src="<%= asset_path('airbus_off.mp4') %>" type="video/mp4">-->
  <!--Your browser does not support the video tag.-->
  <!--</video>-->
  <!--<video id="video-background-seats" preload="auto" muted="muted" volume="0">-->
  <!--<source src="<%= asset_path('seats.webm') %>" type="video/webm">-->
  <!--<source src="<%= asset_path('seats.mp4') %>" type="video/mp4">-->
  <!--Your browser does not support the video tag.-->
  <!--</video>-->
  <!--<video id="video-background-boeing-top" preload="auto" muted="muted" volume="0">-->
  <!--<source src="<%= asset_path('boeing_top.webm') %>" type="video/webm">-->
  <!--<source src="<%= asset_path('boeing_top.mp4') %>" type="video/mp4">-->
  <!--Your browser does not support the video tag.-->
  <!--</video>-->
</div>
<div id="main" role="main">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <%= render 'layouts/messages' %>
        </div>
        <div data-pjax-container>
          <%= yield %>
          <div class="row wrap span6" id="wrap">
            <%= yield :comments %>
          </div>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </div>
  <!--! end of .container -->
</div>
<!--! end of #main -->
<div class="navbar navbar-fixed-bottom" id="helper">
  <div class="navbar-inner">
    <div class="container">
      <%= yield :helper %>
      <%= yield :progress %>
    </div>
  </div>
</div>
<div class="navbar navbar-fixed-bottom navbar-inverse" id="footer">
  <div class="navbar-inner">
    <div class="container">
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>
</body>
</html>
